# --- MQTT settings ---
MQTT_BRIDGE__BROKER=''
MQTT_BRIDGE__PORT=8883
MQTT_BRIDGE__SSL=true
MQTT_BRIDGE__USER=""
MQTT_BRIDGE__PASS=""
MQTT_BRIDGE__SHARED_SUBS=true
MQTT_BRIDGE__RECONNECT=5
MQTT_BRIDGE__CLEAN_SESSION=false
MQTT_BRIDGE__TOPIC=''
MQTT_BRIDGE__KAFKA_TOPIC="mesh.telemetry.raw.v1"
MQTT_BRIDGE__HEALTH__KAFKA_TOPIC="mesh.telemetry.rawhealth.v1"
MQTT_BRIDGE__HEALTH__TIMEOUT=5
MQTT_BRIDGE__HEALTH__PORT=9090
# TODO Currently not used
MQTT_KAFKA_BATCH_SIZE=50          # msgs per batch
MQTT_KAFKA_FLUSH_INTERVAL=5       # seconds

# --- KAFKA settings ---
KAFKA_BOOTSTRAP=kafka:29092
KAFKA_BOOTSTRAP_LOCAL=localhost:9092
KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR=1
KAFKA_BROKER_ID=1
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP='CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
KAFKA_ADVERTISED_LISTENERS='PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_JMX_PORT=9997
KAFKA_JMX_OPTS=-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=kafka0 -Dcom.sun.management.jmxremote.rmi.port=9997
KAFKA_PROCESS_ROLES='broker,controller'
KAFKA_NODE_ID=1
KAFKA_CONTROLLER_QUORUM_VOTERS='1@kafka:29093'
KAFKA_LISTENERS='PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
KAFKA_INTER_BROKER_LISTENER_NAME='PLAINTEXT'
KAFKA_CONTROLLER_LISTENER_NAMES='CONTROLLER'
KAFKA_LOG_DIRS='/tmp/kraft-combined-logs'
CLUSTER_ID='MkU3OEVBNTcwNTJENDM2Qk'

# --- PROTO DECODER settings ---
PROTO_DECODE__KAFKA_TOPIC="mesh.telemetry.decoded.v1"
PROTO_DECODE__N_MSGS=1000 #Number of messages to be read on each poll to kafka
PROTO_DECODE__TIMEOUT_MS=1000 #Milliseconds spent waiting in poll if data is not available in the buffer

# --- KAFKA INFLUX settings ---
INFLUX__KAFKA_TOPIC="mesh.telemetry.valid.v1"
INFLUX__HEALTHCHECK_PORT=19090

# --- INFLUXDB settings ---
# Create after launching influxDB
INFLUX__URL=http://influxdb:8086
INFLUX__URL_LOCAL=http://localhost:8086
INFLUX__TOKEN=
INFLUX__ORG=sensical
INFLUX__BUCKET=telemetry
# --- INFLUXDB Writer settings ---
INFLUX__CONSUMER__N_MSGS=1000 #Number of messages to be read on each poll to kafka
INFLUX__CONSUMER__TIMEOUT_MS=1000 #Milliseconds spent waiting in poll if data is not available in the buffer
